{% extends 'layouts/base.html' %} {% block title %} Dashboard {% endblock title%}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}
<!-- Header -->
<div class="header bg-gradient-blue pb-8 pt-5 pt-md-8"></div>

<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Listado de Materias</h3>
            </div>
            <div class="col text-right">
              <a href="#!" class="btn btn-sm btn-primary">Crear Materia</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Codigo de Materia</th>
                <th scope="col">Nombre</th>
                <th scope="col">Sigla</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for materia in object_list %}
              <tr>
                <td>{{materia.idMateria}}</td>
                <td>{{materia.nombre}}</td>
                <td>{{materia.sigla}}</td>
                <td><a href="{% url 'editar_materia' materia.idMateria %}">Editar</a> <a href="{% url 'eliminar_materia' materia.idMateria %}">Eliminar</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% include "includes/footer.html" %}
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
