{% extends 'welcome.html' %}
{% block title %} Datos Personales {% endblock %}

{% block nav%}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'repositorio:inicio'  %}"><button class="btn btn-bread">
                    Home</button></a></li>
        {% for group in request.user.groups.all %}

        {% if group.name == "Estudiante" %}
        <li class="breadcrumb-item " aria-current="page"><a
                href="{% url 'repositorio:trabajos_estudiante' request.user.id  %}"><button
                    class="btn btn-bread">Trabajos</button></a>
        </li>
        {% else %}
        <li class="breadcrumb-item " aria-current="page"><a href="{% url 'repositorio:listar_trabajos' %}"><button
                    class="btn btn-bread">Trabajos</button></a>
        </li>
        {% endif %}

        {% endfor %}

        <li class="breadcrumb-item " aria-current="page">{{ trabajo.titulo}}</li>
    </ol>
</nav>

{% endblock %}

{% block content %}
<h2 class="text-center">Comparar con</h2>
<br>
<div class="row">
    
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8 text-center">
      <form action="{% url 'repositorio:comparar_documentos' documentos.id %}" method="POST">
        {% csrf_token %} 
        <div class="form-group mx-sm-3 mb-2">
          <label for="linkId" class="sr-only">Password</label>
          <input type="text" name="enlace" class="form-control" id="linkId" placeholder="https://www.mysite.com/work.pdf">
        </div><br>
        <button type="submit" class="btn btn-primary mb-2">Comparar</button>

    </form>
    </div>
    <div class="col-lg-2">

    </div>
    <br>
    <br>
</div>

{% endblock %}