{% extends 'welcome.html' %}
{% block title %}Datos Personales{% endblock %}


{% block nav%}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'repositorio:inicio'  %}"><button class="btn btn-bread">
                    Home</button></a></li>
        <li class="breadcrumb-item " aria-current="page">Trabajos
        </li>
    </ol>
</nav>
{% endblock %}
{% block content%}


<h1>Datos personales</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-2">

        </div>
        <div class="col-lg-8">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Titulo</th>
                        <th scope="col">Author</th>
                        <th scope="col">Materia</th>
                        <th scope="col">Documentos</th>
                        <th scope="col">Accion</th>
                    </tr>
                </thead>
                <tbody>
                    {%for trabajo in trabajos%}
                    <tr>
                        <td>{{trabajo.titulo}}</td>
                        <td>{{trabajo.idPersona}}</td>
                        <td>{{trabajo.idMateria}}</td>
                        <td style="text-align: center;">
                            {%for documento in documentos%}
                            {% if documento.idTrabajo == trabajo.id %}

                            {{documento.idTrabajo__count}}

                            {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            <a href="{% url 'repositorio:detalle_trabajo' trabajo.id %}"><button class="btn btn-info">
                                Detalles</button></a>
                        </td>

                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">NO TIENE TRABAJOS</td>

                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
</div>


{% endblock %}